name: CI

on:
  push:
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
      - uses: actions/checkout@v4
    
      - name: Install dependencies
        run: npm install

      - name: Test
        run: npm test
           
      - name: Build
        run: npm run build
