name: Plugin Validation (Local)

on:
  workflow_dispatch:

jobs:
  validate:
    runs-on: ubuntu-latest
    
    steps:
      - uses: actions/checkout@v6
      
      - name: Install JDK 17
        uses: actions/setup-java@v5
        with:
          distribution: "zulu"
          java-version: 17

      - name: Install Maestro
        run: |
          curl -Ls --retry 3 --retry-all-errors "https://get.maestro.mobile.dev" | bash
          echo "${HOME}/.maestro/bin" >> $GITHUB_PATH
          echo -n "e2e" > ${HOME}/.maestro/uuid

      - name: Download samples
        run: |
          maestro download-samples

      - name: Run Android test
        uses: ./
        with:
          api-key: ${{ secrets.MAESTRO_CLOUD_API_KEY }}
          project-id: ${{ secrets.MAESTRO_CLOUD_PROJECT_ID }}
          app-file: samples/wikipedia.apk
          workspace: samples
          include-tags: advanced
        
      - name: Run iOS test
        uses: ./
        with:
          api-key: ${{ secrets.MAESTRO_CLOUD_API_KEY }}
          project-id: ${{ secrets.MAESTRO_CLOUD_PROJECT_ID }}
          app-file: samples/wikipedia.zip
          workspace: samples
          include-tags: advanced
          device-os: iOS-18-2
          timeout: 180
